@import "sass/variables";
@import "sass/mixins";

@import "sass/Hairline";
@import "sass/HairlineItalic";
@import "sass/Light";
@import "sass/LightItalic";
@import "sass/Regular";
@import "sass/Italic";
@import "sass/Bold";
@import "sass/BoldItalic";
@import "sass/Black";
@import "sass/BlackItalic";
